
/*main*/
/*left*/
.left_side{
    border-right: 1px solid rgba(0,0,0,0.1)
}
.main_content{
    display: grid;
    grid-template-columns: 20% 80%;
}
main .container{
    width: 100%
}
.popular_category,.popular_today{
    background: white;
    padding: 20px 0 20px 20px;
}
.popular_category_nav,.popular_today_nav{
    display: flex;
    flex-direction: column;
    
}
.popular_category_nav a, .popular_today_nav a{
    text-decoration: none;
    font-size: 22px;
    padding-top: 15px;
    color: cornflowerblue;
}

/*right*/
.showcase{
    font-size: 30px;
    padding: 100px 0;
    min-height: 450px;
    background: url(../img/cover.jpg);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
}
.showcase button{
    border: none;
    color: white;
    background: #1a73e8;
    font-size: 20px;
    padding: 5px 20px;
    margin-top: 12px;
}

.recommended_posts{
    padding-top: 20px;
}
/*post*/
.posts{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.post{
    max-width: 400px;
    background: #f2f2f2;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:30px 20px;
    margin:20px 0;
    border: 1px solid rgba(0,0,0,0.1)
}
.post_img{
    width: 100%;
    height: 200px;
    background:url('../img/post.png');
    background-size: cover;
    background-position: center;
}
.post_title{
    margin-bottom: 20px;
}
.post_title h2{
    color: rgba(0,0,0,0.9);
    font-size: 22px;
}
.post_body{
    padding-top: 20px;
    font-size: 18px;
    color: rgba(0,0,0,0.8)
}
.post_footer{
    font-size: 18px;
    color: rgba(0,0,0,0.7);
    padding-top: 10px;
}